body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


.side-bar{
  height: 100%;
  width: 15%;
  position: fixed;
  margin-top: -12px; 
  background-color: rgb(224, 224, 224);
}

#side-bar-title{
  position: absolute;
  bottom: 82%;
  left: 5%;
font-family: 'Times New Roman', Times, serif;
font-size: 48px;
}

#btn-image{
  background-image: url('./assets/to-do-list.png');
  position: absolute;
  top: 5%;
  left:90%;
  height: 50px;
  width: 50px;
background-color: rgb(224, 224, 224);
border-radius: 50px;
padding: 15px;
margin: 0;
}

#btn-image:hover{
  background-color: rgb(121, 121, 121);

}
#btn-image:active { 
  box-shadow:  7px 6px 28px 1px rgba(0, 0, 0, 0.50); 
  transform: translateY(4px); 
  /* Moving button 4px to y-axis */ 
} 